<ion-view title="Profil" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div ng-if="user">
            <ion-list id="profil-list6" class=" ">
                <ion-item class="item-avatar" id="profil-list-item6">
                    <h2>{{user.ime}} {{user.priimek}}</h2>
                    <p style="white-space:normal;">{{user.username}}</p>
                </ion-item>
                <ion-item id="profil-list-item7" class="  ">{{user.naslov}}</ion-item>
                <ion-item class="item-icon-right  " id="profil-list-item8" ui-sref="tabsController.ocene">Moje Ocene
                    <i class="icon ion-arrow-right-c"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="profil-list-item9" ui-sref="tabsController.komentarji">Moji komentarji
                    <i class="icon ion-arrow-right-c"></i>
                </ion-item>
            </ion-list>
            <button ng-click="logout()" class=" button button-stable  button-block ">Odjava</button>
        </div>
        <div ng-if="!user">
            <form id="login-form1" class="list ">
                <ion-list id="login-list1" class=" ">
                    <label class="item item-input item-stacked-label " id="login-input1" name="username">
                        <span class="input-label">Uporabnisko ime</span>
                        <input ng-model="username" type="text" placeholder="Uporabniško ime">
                    </label>
                    <label class="item item-input " id="login-input2" name="password">
                        <span class="input-label">Geslo</span>
                        <input ng-model="password" type="password" placeholder="Geslo">
                    </label>
                </ion-list>
                <div class="spacer" style="height: 40px;"></div>
                <button ng-click="login(username, password)" class=" button button-stable  button-block ">Prijava</button>
                <a ui-sref="tabsController.signup" id="login-button2" class=" button button-positive  button-block button-clear ">Or create an account</a>
            </form>
        </div>
    </ion-content>
</ion-view>
