<ion-view title="Restavracije" id="page7" class=" ">
    <ion-header-bar align-title="left" class="bar-light bar-subheader">
      <input style="float:left; width: 50%;" type="text" placeholder="Iskanje" ng-model="search" ng-change="typed(search)">


      <form style="float:right; width: 50%; display: block" id="cameraTabDefaultPage-form2" class="list ng-pristine ng-valid">
            <label style="height: 34px; padding: 0px;" class="item item-select " id="cameraTabDefaultPage-select1">
                <select style="width: 1000px; max-width: 100%;" ng-options="kraj.naziv for kraj in kraji" ng-model="selectedKraj" ng-change="selectKraj()">
                    <option value="" ng-model="selectedKraj">- Please select -</option>
                </select>
            </label>
        </form>

      
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <ion-list id="restavracije-list5" class=" " ng-repeat="rest in restavracije | filter: {'naziv': search}">
        	<ion-item ng-click="clickRestavracija(rest)" id="restavracije-list-item2" ui-sref="tabsController.restavracija" class="  ">{{rest.naziv}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>