<ion-view title="Zemljevid" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
     	<div id="map" style="height: 100%" map-lazy-load="https://maps.google.com/maps/api/js">
		  <ng-map id="map" center="[{{lat}}, {{long}}]" zoom="15">
		   <marker  position="[{{lat}}, {{long}}]" animation="Animation.DROP"> 
    		</marker>
    		
    		

    		

    		<marker ng-repeat="p in array"
       				 position="[{{p.sirina}},{{p.dolzina}}]"
       				 on-click="showInfoWindow(event, 'marker-info')";
       				 ng-click="clickFn(p.id)";
       				 title="pos: {{p.id}}"></marker>



        <info-window id="marker-info">
          <h4>Hi, {{infos}}}my lat/lng is [[this.getPosition()]]</h4>
        </info-window>




		  </ng-map>
		</div>
    </ion-content>
</ion-view>


<!-- icon ="{  
      				url: '../images/android-locate.png',
      				scaledSize: [25, 25]
 				 }"-->